name: Test in Docker

permissions: {}

on:
  workflow_call:
    inputs:
      xk6-version:
        description: The xk6 version to be used.
        required: true
        type: string

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      with:
        persist-credentials: false

    - name: Generate Dockerfile
      env:
        XK6_VERSION: ${{ inputs.xk6-version }}
      run: |
        cat <<EOF > /tmp/Dockerfile.tester
        FROM grafana/xk6:${XK6_VERSION}

        USER root
        RUN apk add --no-cache bash bats build-base
        USER xk6

        WORKDIR /xk6

        COPY go.mod go.sum ./
        RUN go mod download

        COPY . .

        RUN xk6 build -v --with $(go list -f '{{.Module.Path}}')=.

        ENV K6=/xk6/k6 \
            BASEDIR=/xk6

        ENTRYPOINT [ "/bin/sh", "-c" ]
        CMD ["go test -v -race -count 1 -timeout 2m ./... && bats test"]
        EOF

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

    - name: Build tester image
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        context: .
        file: /tmp/Dockerfile.tester
        load: true
        tags: tester:latest

    - name: Run tests in Docker container
      run: |
        cat >> $GITHUB_STEP_SUMMARY <<END

        ## Tests in Docker

        END

        set -e
        docker run --rm tester:latest | tee -a $GITHUB_STEP_SUMMARY
