name: Validate

permissions: {}

on:
  workflow_dispatch:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  test:
    name: Test in Docker
    uses: ./.github/workflows/test-in-docker.yml
    with:
      xk6-version: "1.3.3"
    permissions:
      contents: read
  validate:
    name: Validate
    uses: grafana/xk6/.github/workflows/extension-validate.yml@6bf2772548c275ca0b6ca4de73fa1b183a8ed0fc # v1.3.4
    permissions:
      pages: write
      id-token: write
      contents: read
    with:
      go-version: "1.25.x"
      go-versions: '["1.25.x"]'
      golangci-lint-version: "v2.4.0"
      platforms: '["ubuntu-latest", "windows-latest", "macos-latest"]'
      k6-versions: '["v1.5.0"]'
      xk6-version: "1.3.3"
